html{
    min-height:100%;
    min-width:100%;
}
#ContainSmall{
    background-color:black;
    position:absolute;
    bottom:0px;
    height:111px;
    width:100vh;
}
#bottom{
    position:absolute;
    bottom: 55.5px;
    left: 123px;
    font-size: 16px;
    font-family: 'Montserrat';
    color:white;
}